/***

http://cssminifier.com/

***/

/***********************
		RESETS
***********************/

* {
  margin:0;
  padding:0;
}

/*********************
  WRAPPERS
********************/

.full_width_wrapper {
  width:100%;
  height:100%;
}

.wrapper_content {
  width:1080px;
  margin:0 auto;
}

/***********************
		HEADING
***********************/

.heading h1 a {
  text-decoration: none;
}

h1, h2, h3 {
  color:#111;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight:100;
}

h1 {
  margin-top: 20px;
  font-size: 130px;
  padding-bottom: 30px;
}

span.first {
  color: #fff;
  background-color: #911236;
  padding: 75px;
  letter-spacing:18px;
  line-height:210px;
}

span.last {
  letter-spacing: -4px;
  line-height: 90px;
  margin-left: 50px;
  font-weight: 300;
  color: #911236;
}

h3 {
  margin:20px 0 20px 10px;
  font-size:3em;
}


/***********************
		SECTIONS GLOBAL
***********************/

.left {
  float:left;
}

.right {
  float:right;
}

.bold {
  font-weight:bold;
}

.italic {
  font-style: italic;
}

.highlight, a {
  color:#911236;
}

p, li {
  font-size:1.3em;
  /*font-family: 'Helvetica Neue', Arial, Helvetica, serif;*/
  font-family: 'EB Garamond', Times, serif;
  width:450px;
  padding-top: 6px;
  text-align:justify;
  line-height:150%;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a:active {
  text-decoration:none;
  opacity: 0.75;
}

/***********************
    THEN
***********************/

.then {
  float: left;
  width: 100%;
  margin-top: 70px;
  height: 110px;
}

.then p {
  margin-top: 16px;
  margin-left: 148px;
}
/***********************
    CURRENT
***********************/

.current {
  float: left;
  width: 100%;
  margin-top: 20px;
  height: 130px;
}

.current p {
  margin-top: 16px;
  margin-left: 160px;
}

/***********************
		ABOUT
***********************/

.about {
  width: 100%;
  margin-bottom: 20px;
}

.about p {
  margin-top: 16px;
  position: relative;
  right: 54px;
}
.about .right {
  margin-bottom: 20px;
}

.matt_photo {
  margin:30px 67px 0 30px;
  border-bottom:25px solid white;
  border-left:10px solid white;
  border-right:10px solid white;
  border-top:10px solid white;
  box-shadow: 1px 1px 1px #999;
  transform: rotate(1deg);
  -ms-transform: rotate(1deg); /* IE 9 */
  -webkit-transform: rotate(1deg); /* Safari and Chrome */
  -o-transform: rotate(1deg); /* Opera */
  -moz-transform: rotate(1deg); /* Firefox */
  -webkit-backface-visibility: hidden;
}

.matt_photo {
  margin-left: 0;
}

/***********************
		CONTACT
***********************/

.contact {
  clear: both;
  height: 180px;
}

.sm_icons {
  margin-left:40px;
  width: 480px;
  margin-top:16px;
}

.sm_icons img {
  margin:15px;
}

p.email_address {
  margin-left:125px;
}

/***********************
		FOOTER
***********************/

.bottom_gradient {
  padding-top: 20px;
  height: 60px;
  clear:both;
	width: 1080px;
	margin:0 auto;
}

.bottom_gradient p {
  margin-left:250px;
  text-align:center;
  font-weight: 200;
  letter-spacing: 3px;
}
